.donation__support-button {
  display: flex;
  margin-right: 54px;
}



@media screen and (max-width: 1439px) {
  .donation__support-button {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .donation__support-button {
   margin: 0 0 32px 0;
  }
}

