.support__section-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding: 24px 10px 16px;
}

@media (max-width: 1365px) {
  .support__section-text {
    padding: 32px 14px 24px;
    font-size: 20px;
  }

}

@media (max-width: 767px) {
  .support__section-text {
    font-size: 16px;
    padding: 32px 12px 20px;
  }
}
