.specprojects__photo_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .specprojects__photo_mobile {
    display: block;
    height: calc(100vw * .56);
    margin: 24px 0 20px 0;
    min-height: 180px;
    width: 100%;
  }
}
