.footer__menu-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
  text-decoration: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 780px) {
  .footer__menu-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .footer__menu-link {
    font-size: 14px;
  }
}
