.news__card-theme-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1279px) {
  .news__card-theme-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}
@media screen and (max-width: 767px) {
  .news__card-theme-text {
    font-size: 12px;
  }
}
