.support-form__payment-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1px;
  grid-template-rows: 1fr;
  gap: 18px;
}

@media (max-width: 660px) {
  .support-form__payment-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
