.support-form__checkbox_invisible {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.support-form__checkbox_invisible:checked + span {
  background: #DADADA url(../../../../images/Icon_check.svg) no-repeat center;
}
