.donation__summa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 54px 0 30px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .donation__summa {
    width: 24px;
    height: 24px;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
}