.small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 1365px) {
  .small-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .small-text {
    font-size: 12px;
  }
}
