.digits__image {
  width: 555px;
  height: 368px;
  object-fit: cover;
  border-radius: 30px;
}

@media screen and (max-width: 1279px) {
  .digits__image {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .digits__image {
    display: block;
    margin-top: 24px;
    border-radius: 20px;
    height: calc((100vw - 20px) * .66);
    width: 100%;
    max-width: 540px;
    max-height: 360px;
  }
}
