.subtitle-text-four {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #333333;
  margin: 0;
padding: 0;
}


@media screen and (max-width: 1439px) {
  .subtitle-text-four {
    font-size: calc(20px + 14*(100vw - 768px)/1440);
  }
}

@media screen and (max-width: 767px) {
  .subtitle-text-four {
    font-size: calc(16px + 4*(100vw - 320px)/768);
  }
}

@media screen and (max-width: 320px) {
  .subtitle-text-four {
    font-size: 16px;
  }
}