.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333;
  min-width: 320px;
}