.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #E5E5E5;
  max-width: 1440px;
  font-family: 'Raleway', serif;
  box-sizing: border-box;
}
