.section-title {
  font-size: 64px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px){
  .section-title {
    font-size: 36px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px){
  .section-title {
    font-size: 26px;
  }
}
