.section-title {
  font-size: 64px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  padding-bottom: 50px;
  margin: 100px 0 0 0;
}

@media screen and (max-width: 1279px){
.section-title {
    font-size: 36px;
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 767px){
.section-title {
    font-size: 26px;
    margin: 32px 0 0 0;
  }
}
