.section-title {
  font-size: 64px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 1279px){
  .section-title {
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px){
  .section-title {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
  }
}
