.footer__item-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #333333;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 780px) {
  .footer__item-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .footer__item-title {
    font-size: 16px;
  }
}
