.section-subtitle {
  font-size: 34px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 1279px){
.section-subtitle {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    margin: 0;
  }
}

@media screen and (max-width: 767px){
.section-subtitle {
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    margin: 0;
  }
}
