.cards_agency {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1360px;
  margin: 0;
  padding: 50px 0 50px 0;
  list-style-type: none;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .cards_agency {
    margin: 0 auto;
    padding: 32px 0 32px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .cards_agency {
    grid-template-columns: 1fr;
    padding: 24px 0 24px 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
