.specprojects__buttons-box {
  position: absolute;
  bottom: 35px;
  right: 55%;
  display: flex;
  column-gap: 8px;
}

@media screen and (max-width: 767px) {
  .specprojects__buttons-box {
    right: 35px;
    top: 25px;
  }
}