.specprojects__buttons-box {
  position: absolute;
  top: 85%;
  right: 55%;
  display: flex;
  column-gap: 8px;
}

@media screen and (max-width: 715px) {
  .specprojects__buttons-box {
    right: 60px;
    top: 24px;

  }
}
@media screen and (max-width: 440px) {
  .specprojects__buttons-box {
    right: 40px;
  }
}