.support {
  background-color: #E7F0FF;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 104px 100px 40px;
  gap: 10px;
}

@media (max-width: 768px) {
  .support {
    padding: 44px 40px 56px;
  }

}

@media (max-width: 320px) {
  .support {
    padding: 31px 10px 32px;
  }
}
