.button_type_accordeon {
  background-image: url('../../../images/button_plus_blue.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  background-color: #E7F0FF;
  min-width: 45px;
  min-height: 45px;
  border: 0;
  border-radius: 20px;
  padding: 0;
}

.button_type_accordeon:hover:not([disabled]) {
  background-image: url('../../../images/button_plus_white.svg');
  background-color: #0C4BA0;
}

.button_type_accordeon:active:not([disabled]) {
  background-image: url('../../../images/button_plus_cross.svg');
  background-color: #0C4BA0;
}

.button_type_accordeon[disabled] {
  background-image: url('../../../images/button_plus_grey.svg');
  background-color: #C4C4C4;
}

@media screen and (max-width: 767px) {
  .button_type_accordeon {
    background-size: 12px;
    min-width: 32px;
    min-height: 32px;
  }
}
