.button_type_radio {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  max-width: 159px;
  width: 159px;
}

.button_type_radio:hover:not([disabled]) {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  width: 157px;
}

.button_type_radio:active:not([disabled]) {
  background-color: #fff;
  border: 1px solid #00275c;
}

.button_type_radio[disabled] {
  background-color: #F5F5F5;
  border: 2px solid #C4C4C4;
}

.button_type_radio:not([disabled]) .button__text {
  color: #333;
}

.button_type_radio[disabled] .button__text {
  color: #C4C4C4;
}

.button_type_radio:hover:not([disabled]) .button__wrapper {
  padding: 11px 15px;
}

.button_type_radio[disabled] .button__wrapper {
  cursor: no-drop;
  padding: 10px 14px;
}

@media screen and (max-width: 1279px) {
  .button_type_radio {
    max-width: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_radio {
    max-width: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}
