.button_type_radio {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  max-width: 159px;
  width: max-content;
  flex-basis: 159px;
}

.button_type_radio:hover:not([disabled]) {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  padding: 11px 15px;
}

.button_type_radio:active:not([disabled]) {
  background-color: #fff;
  border: 1px solid #00275c;
}

.button_type_radio[disabled] {
  background-color: #F5F5F5;
  border: 2px solid #C4C4C4;
  color: #C4C4C4;
  cursor: no-drop;
  padding: 10px 14px;
}

@media screen and (max-width: 767px) {
  .button_type_radio {
    width: calc(50% - 16px);
    max-width: none;
    flex-basis: initial;
  }
}
