.button_type_secondary {
  background-color: transparent;
  border: 1px solid #0c4ba0;
  color: #0c4ba0;
}

.button_type_secondary:hover:not([disabled]) {
  border-color: #00275c;
  background-color: transparent;
  color: #00275c;
}

.button_type_secondary:active:not([disabled]) {
  background-color: #00275c;
  color: #fff;
}
