.button_type_on-color {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  padding: 11px 15px;
}

.button_type_on-color:hover:not([disabled]) {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  padding: 10px 14px;
}

.button_type_on-color:active:not([disabled]) {
  background-color: #333;
  color: #fff;
}
