.button_type_donate {
  justify-content: center;
  max-width: 179px;
  width: 159px;
}

@media screen and (max-width: 1320px) {
  .button_type_donate {
    width: 143px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_donate {
    max-width: 100%;
    width: 100%;
  }
}
