.button_type_radio-dif {
  align-items: center;
  background-color: #fff;
  color: #333;
  max-width: 211px;
  width: max-content;
  flex-basis: 211px;
}

.button_type_radio-dif:hover:not([disabled]) {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  padding: 11px 15px;
}

.button_type_radio-dif:active:not([disabled]) {
  background-color: #fff;
  border: 1px solid #00275c;
}

.button_type_radio-dif[disabled] {
  background-color: #F5F5F5;
  border: 2px solid #C4C4C4;
  color: #C4C4C4;
  cursor: no-drop;
  padding: 10px 14px;
}


/* @media screen and (max-width: 1279px) {
  .button_type_radio-dif {
    max-width: 135px;
    flex-basis: 135px;
  }
} */

@media screen and (max-width: 767px) {
  .button_type_radio-dif {
    width: 100%;
    max-width: none;
    flex-basis: initial;
  }
}
