.button_type_slider {
  background-image: url('../../../images/button_arrow_white.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  min-width: 35px;
  min-height: 35px;
  border: 0;
  padding: 0;
}

.button_type_slider:hover:not([disabled]) {
  background-image: url('../../../images/button_arrow_white.svg');
}

.button_type_slider:active:not([disabled]) {
  background-image: url('../../../images/button_arrow_white.svg');
}

.button_type_slider[disabled] {
  background-image: url('../../../images/button_arrow_grey.svg');
  background-color: #C4C4C4;
}

@media screen and (max-width: 767px) {
  .button_type_slider {
    background-size: 10px;
    min-width: 24px;
    min-height: 24px;
  }
}
