.specprojects__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 700px;
  width: 100%;

}

@media screen and (max-width: 820px) {
  .specprojects__column {
  row-gap: 20px;
  }
}

@media screen and (max-width: 715px) {
  .specprojects__column {
  row-gap: 20px;
  }
}