.specprojects__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  row-gap: 20px;
}

@media screen and (max-width: 1279px) {
  .specprojects__column {
    row-gap: 0;
    width: 54%;
  }
}

@media screen and (max-width: 767px) {
  .specprojects__column {
    width: 100%;
  }
}
