.support-form__radio-button {
  display: flex;
  cursor: pointer;
  user-select: none;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 12px;
  padding-top: 12px;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
}
