.digits__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 325px));
  grid-template-rows: auto;
  row-gap: 30px;
  column-gap: 20px;
  /* margin-left: 135px; */

}

@media screen and (max-width: 1130px) {
  .digits__grid {
    grid-template-columns: repeat(2, minmax(min-content, 670px));
    margin: 0;

  }
}


@media screen and (max-width: 970px) {
  .digits__grid {
    grid-template-columns: repeat(2, minmax(min-content, 466px));
    margin: 0;

  }
}

@media screen and (max-width: 440px) {
  .digits__grid {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}