.advantages__item {
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  border: 2px solid #DADADA;
  border-radius: 30px;
  padding: 24px 18px;
  max-width: 670px;
  list-style-type: none;

}

@media screen and (max-width: 1279px) {
  .advantages__item{
    padding: 18px;
    border-radius: 20px;
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item{
    border: 1px solid #DADADA;
    padding: 11px 19px 11px 15px;
    border-radius: 16px;
  }
}
