.advantages__item {
  display: flex;
  flex-direction:column;
  border: 1px solid #DADADA;
  border-radius: 30px;
  padding: 29.5px 20px;

}

@media screen and (max-width: 820px) {
  .advantages__item{
    padding: 20.5px 20px;
  }
}

@media screen and (max-width: 440px) {
  .advantages__item{
    padding: 18px 16px;
  }
}