.advantages__item {
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  border: 1px solid #DADADA;
  border-radius: 30px;
  padding: 29.5px 20px;
  max-width: 670px;

}

@media screen and (max-width: 1279px) {
  .advantages__item{
    padding: 20.5px 20px;
    border-radius: 20px;

  }
}

@media screen and (max-width: 767px) {
  .advantages__item{
    padding: 18px 16px;
    border-radius: 15px;
  }
}