
.header__span {
  content: "";
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  width: 25px;
  height: 3px;
  background-color: #000;
  transition: all 0.8s ease 0s;
}
.header__span:first-child {
  top: 0px;
}
.header__span:last-child {
  top: auto;
  bottom: 0px;
}

.header__span_active {
  transform: scale(0) translate(0px, -50%);
}


@media screen and (max-width: 1439px) {
  .header__span {
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__span {
   width: 25px;
  }
}

@media screen and (max-width: 320px) {
  .header__span {
   width: 24px;
   top: 8px;
  }
}