.histories__text-title {
  font-size: 34px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  line-clamp: 4;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1279px) {
  .histories__text-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .histories__text-title {
    font-size: 16px;
  }
}
