.histories__hero-cards-textarea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .histories__hero-cards-textarea {
    gap: 6px;
  }
}

@media screen and (max-width: 767px) {
  .histories__hero-cards-textarea {
    gap: 4px;
  }
}
