.support__checkbox_invisible {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.support__checkbox_invisible:checked + .support__checkbox{
  background: #DADADA url(../../../../images/Icon_check.svg) no-repeat center;
}
