.histories__hero-cards-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 670px;
  max-height: 285px;
  background-color: #EAE6FF;
  border-radius: 30px;
  padding: 30px;
}

@media screen and (max-width: 1279px) {
  .histories__hero-cards-item {
    max-height: 170px;
    align-items: center;
    padding: 20px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .histories__hero-cards-item {
    max-height: 112px;
  }
}
