.cards__item_type_agency {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  max-height: 538px;
  background-color: #fff;
  border-radius: 0px;
  padding: 0px;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .cards__item_type_agency {
    max-width: 450px;
  }
}


