.footer__social-icon {
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  border-radius: 10px;
}
@media screen and (max-width: 780px) {
  .footer__social-icon {
    width: 40px;
    height: 40px;
  }
}
