.donation__value {
  width: 100%;
  display: flex;
  gap: 40px;
}



@media screen and (max-width: 1439px) {
  .donation__value {
   gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .donation__value {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(260px + 80*(100vw - 320px)/(768 - 320));
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .donation__value {
    width: 260px;
  }
}



