.header__menu-icon {
  display: flex;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url('../../../images/Icon_menu.svg');
  background-repeat: no-repeat;
  background-position: center;
}