.button_text {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  padding: 0;
  /* font-feature-settings: 'pnum' on, 'lnum' on; */
}

@media screen and (max-width: 768px) {
  .button_text {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .button_text {
    font-size: 14px;
    line-height: 100%;
  }
}
