.support-form_radio-button_visible {
  display: flex;
  user-select: none;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 12px;
  padding-top: 12px;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

@media screen and (max-width: 1365px) {
  .support-form_radio-button_visible {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .support-form_radio-button_visible {
    font-size: 16px;
  }
}
