.news__card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1279px) {
  .news__card-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .news__card-text {
    font-size: 14px;
  }
}
