.project__switcher-button {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #0c4ba0;
  border-radius: 10px;
  border: none;
}


@media screen and (max-width: 1439px) {
  .project__switcher-button {
    width: calc(24px + 11*(100vw - 768px)/(1440 - 768));
    height: calc(24px + 11*(100vw - 768px)/(1440 - 768));
    border-radius: calc(6px + 4*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 768px) {
  .project__switcher-button {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
}
