.specprojects__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 393px;
  width: 43%;
}

@media screen and (max-width: 1279px) {
  .specprojects__photo {
    min-height: 284px;
    width: 41%;
  }
}

@media screen and (max-width: 767px) {
  .specprojects__photo {
    display: none;
  }
}
