.specprojects {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  width: 100%;
  margin-top: 100px;
}

@media screen and (max-width: 715px) {
  .specprojects {
    margin-top: 64px;
  }
}
