.advantages__content {
  display: flex;
  column-gap: 20px;
  margin: 50px 0;


}

@media screen and (max-width: 820px) {
  .advantages__content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

  }
}

@media screen and (max-width: 440px) {
  .advantages__content{
    row-gap: 16px;
    margin: 24px 0;
    
  }
}

/* div {
  outline: 1px solid red;
} */