.popup-menu__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #333333;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1439px) {
  .popup-menu__title {
    font-size: calc(20px + 14*(100vw - 768px)/1440);
  }
}

@media screen and (max-width: 767px) {
  .popup-menu__title {
    font-size: calc(16px + 4*(100vw - 320px)/768);
  }
}

@media screen and (max-width: 320px) {
  .popup-menu__title {
    font-size: 16px;
  }
}