.button_type_rand-sum {
  width: 211px;
}

@media screen and (max-width: 1439px) {
  .button_type_rand-sum {
    width: calc(135px + 76*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .button_type_rand-sum {
    width: calc(260px - 125*(100vw - 320px)/(768 - 320));
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .button_type_rand-sum {
    width: 260px;
  }
}
