.support__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  gap: 50px;
  padding: 0 40px 100px 40px;
}

@media screen and (max-width: 1375px) {
  .support__wrapper {
    align-items: center;
    padding: 0 40px 56px 40px;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .support__wrapper {
    padding: 0 10px 32px 10px;
  }
}
