.support__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 40px;
}

@media screen and (max-width: 1375px) {
  .support__wrapper {
    align-items: center;
    padding: 44px 40px 56px 40px;
  }
}

@media screen and (max-width: 767px) {
  .support__wrapper {
    padding: 32px 10px;
  }
}
