.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  max-height: 398px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .cards__item {
    box-sizing: border-box;
    max-width: 450px;
    gap: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .cards__item {
    padding: 24px;
  }
}
