.donator {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
}

.donator:nth-child(n+5) {
  opacity: 0.4;
}

.donator:nth-child(n+6) {
  opacity: 0.3;
}

.donator:nth-child(n+7) {
  opacity: 0.2;
}

.donator:nth-child(n+8) {
  opacity: 0.1;
}

