.histories__quote-icon {
  width: 35px;
  height: 28px;
}

@media screen and (max-width: 1279px) {
  .histories__quote-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 1279px) {
  .histories__quote-icon {
    width: 24px;
    height: 24px;
  }
}
