.cards__title {
  font-size: 34px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .cards__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .cards__title {
    font-size: 18px;
  }
}
