.support__supports-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 117px;
  flex-wrap: wrap;
}

@media (max-width: 1308px) {
  .support__supports-container {
    gap: 50px;
  }

}

@media (max-width: 767px) {
  .support__supports-container {
    gap: 32px;
  }
}
