.specprojects__photo-mobile {
  display: none;
}

@media screen and (max-width: 440px) {
  .specprojects__photo-mobile {
    display: block;
    border-radius: 10px;
    width: 100%;
    margin: 24px 0 20px 0;

  }
}