.support-form__checkbox_visible {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  background: #DADADA url(../../../../images/Icon_check.svg) no-repeat center;

}

.support-form__checkbox_invisible:checked  + span {
  border: 2px solid #DADADA;
  background: #FFFFFF;
}

.support-form__checkbox_invisible:checked  + span {

}
