.support-button {
  width: 180px;
  height: 48px;
  background-color: #0C4BA0;
  color: white;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}


@media screen and (max-width: 1439px) {
  .support-button {
    width: calc(134px + 46*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .support-button {
    width: calc(260px - 126*(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .support-button {
    width: 260px;
  }
}
