.popup-menu__wrapper {
  display: flex;
  position: relative;
  column-gap: 20px;
  width: 1360px;
  padding: 0 40px 125px 40px;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
  flex-wrap: wrap;
}


@media screen and (max-width: 1439px) {
  .popup-menu__wrapper {
    width: calc(688px + 672*(100vw - 768px)/(1440 - 768));
    padding-bottom: calc(78px + 47*(100vw - 768px)/(1440 - 768));
    column-gap: 50px;
    row-gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  .popup-menu__wrapper {
    width: calc(100% - 20px);
    flex-direction: column;
    padding: 0 10px 110px 10px;
    row-gap: 20px;
  }
}

