.donation__button-random {
  width: 211px;
  background-color: white;
}


@media screen and (max-width: 1400px) {
  .donation__button-random {
    width: calc(135px + 76*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 500px) {
  .donation__button-random {
    width: calc(260px - 125*(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .donation__button-random {
    width: 260px;
  }
}

.donation__button-random:hover {
  opacity: 0.6;
  cursor: pointer;
}