.popup-menu__group {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 30px;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .popup-menu__group {
    width: calc(196px + 103*(100vw - 768px)/(1440 - 768));
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .popup-menu__group {
    max-width: 768px;
    width: 100%;
    gap: 20px;
  }
}
