.popup-menu__group {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 30px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .popup-menu__group {
    width: calc(217px + 103*(100vw - 768px)/(1440 - 768));
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .popup-menu__group {
    max-width: 768px;
    width: 100%;
    gap: 24px;
  }
}

@media screen and (max-width: 320px) {
  .popup-menu__group {
    width: 300px;
    gap: 24px;
  }
}