.main-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .main-text {
    font-size: calc(16px + 4*(100vw - 768px)/1440);
  }
}

@media screen and (max-width: 767px) {
  .main-text {
    font-size: calc(14px + 2*(100vw - 320px)/768);
  }
}

