.project__title {
  display: flex;
  width: 826px;
  transition: all ease 0.5s;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1439px) {
  .project__title {
    width: calc(424px + 402*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .project__title {
    width: calc(300px + 124*(100vw - 320px)/(768 - 320));
  }
}
