.digits__title {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .digits__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 320px) {
  .digits__title {
    font-size: 18px;
  }
}