.platform-button {
  display: flex;
  margin: 0;
  padding: 0;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  background-color: white;
  border-radius: 10px;
  color: #0C4BA0;
  border-color: #0C4BA0;
}

@media screen and (max-width: 1439px) {
  .platform-button {
    width: calc(134px + 46*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .platform-button {
    display: none;
  }
}

