.button_color_purple {
  background-color: #EAE6FF;
  color: #8B75FF;
}

.button_color_purple:hover:not([disabled]) {
  background-color: #8B75FF;
  color: #fff;
}

.button_color_purple:active:not([disabled]) {
  background-color: #4935B5;
  color: #fff;
}

.button_color_purple[disabled] {
  background-color: #C4C4C4;
  border: 0;
  color: rgba(38, 38, 38, 0.5);
  padding: 12px 16px;
}

.button_color_purple .button__arrow {
  background-image: url('../../../images/button_arrow_purple.svg');
}

.button_color_purple:hover:not([disabled]) .button__arrow {
  background-image: url('../../../images/button_arrow_white.svg');
}

.button_color_purple:active:not([disabled]) .button__arrow {
  background-image: url('../../../images/button_arrow_white.svg');
}

.button_color_purple[disabled] .button__arrow {
  background-image: url('../../../images/button_arrow_grey.svg');
  border: 0;
}
