.button_color_orange {
  background-color: #FEEFEA;
  color: #E98509;
}

.button_color_orange:hover:not([disabled]) {
  background-color: #E98509;
  color: #fff;
}

.button_color_orange:active:not([disabled]) {
  background-color: #864A00;
  color: #fff;
}

.button_color_orange[disabled] {
  background-color: #C4C4C4;
  border: 0;
  color: rgba(38, 38, 38, 0.5);
  padding: 12px 16px;
}
