.histories__text-name {
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  margin: 0;
  color: #333;
}

@media screen and (max-width: 1279px) {
  .histories__text-name {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .histories__text-name {
    font-size: 14px;
  }
}
