.popup-menu__close {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  color: white;
  background: none;
  z-index: 99;
  border: none;
  opacity: 1;
  background-image: url('../../../images/Icon_close-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width: 767px) {
  .popup-menu__close {
    right: 0px;
    top: -36px;
    width: calc(20px + 12*(100vw - 320px)/(1280 - 320));
    height: calc(20px + 12*(100vw - 320px)/(1280 - 320));
  }
}

.popup-menu__close:hover {
  cursor: pointer;
  opacity: 0.6;
}