.specprojects__box {
  background-color: #E7F0FF;
  border-radius: 30px;
  margin: 0 30px;
  overflow: hidden;
  max-width: 1360px;
}

@media screen and (max-width: 767px) {
  .specprojects__box {
    margin: 0 10px;

  }
}