.specprojects__image {
  max-width: 555px;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 30px;
}

@media screen and (max-width: 1045px) {
  .specprojects__image {
    max-width: 260px;

  }
}

@media screen and (max-width: 440px) {
  .specprojects__image {
    display: none;
  }
}