.histories__container {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px 100px 40px;
}

@media screen and (max-width: 1279px) {
  .histories__container {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .histories__container {
    padding: 0 10px;
  }
}
