@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/content/content.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/big-text/big-text.css);
@import url(../blocks/main-text/main-text.css);
@import url(../blocks/small-text/small-text.css);
@import url(../blocks/title-text/title-text.css);
@import url(../blocks/subtitle-text-four/subtitle-text-four.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__arrow/button__arrow.css);
@import url(../blocks/button/_type/button_type_secondary.css);
@import url(../blocks/button/_type/button_type_on-color.css);
@import url(../blocks/button/_type/button_type_link.css);
@import url(../blocks/button/_type/button_type_slider.css);
@import url(../blocks/button/_type/button_type_accordeon.css);
@import url(../blocks/button/_type/_fix-sum/button_type_fix-sum.css);
@import url(../blocks/button/_type/_rand-sum/button_type_rand-sum.css);
@import url(../blocks/button/_color/button_color_blue.css);
@import url(../blocks/button/_color/button_color_green.css);
@import url(../blocks/button/_color/button_color_orange.css);
@import url(../blocks/button/_color/button_color_purple.css);
@import url(../blocks/button/_color/button_color_black.css);
@import url(../blocks/button/_full-width/button_full-width.css);
@import url(../blocks/button/_rotate/button_rotate.css);
@import url(../blocks/button/_pressed/button_pressed.css);
@import url(../blocks/button/_place/button_place_up.css);
@import url(../blocks/button/_place/button_place_down.css);
@import url(../blocks/button/_place/button_place_agency-down.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__content/header__content.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-icon/header__menu-icon.css);
@import url(../blocks/header/__menu-text/header__menu-text.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/header/__button-headen/header__button-headen.css);
@import url(../blocks/header/__span/header__span.css);

@import url(../blocks/icon-menu/icon-menu.css);

@import url(../blocks/secondary-menu/secondary-menu.css);
@import url(../blocks/secondary-menu/__wrapper/secondary-menu__wrapper.css);
@import url(../blocks/secondary-menu/__list/secondary-menu__list.css);
@import url(../blocks/secondary-menu/__item/secondary-menu__item.css);
@import url(../blocks/secondary-menu/__link/secondary-menu__link.css);

@import url(../blocks/project/project.css);
@import url(../blocks/project/__wrapper/project__wrapper.css);
@import url(../blocks/project/__description/project__description.css);
@import url(../blocks/project/__title/project__title.css);
@import url(../blocks/project/__slider/project__slider.css);
@import url(../blocks/project/__text/project__text.css);
@import url(../blocks/project/__images/project__images.css);
@import url(../blocks/project/__image/project__image.css);
@import url(../blocks/project/__image-container/_first/project__image-container_first.css);
@import url(../blocks/project/__image-container/_second/project__image-container_second.css);
@import url(../blocks/project/__image/_first/project__image_first.css);
@import url(../blocks/project/__image/_second/project__image_second.css);
@import url(../blocks/project/__span/project__span.css);
@import url(../blocks/project/__switcher/project__switcher.css);
@import url(../blocks/project/__switcher-button/project__switcher-button.css);
@import url(../blocks/project/__switcher-counter/project__switcher-counter.css);

@import url(../blocks/donation/donation.css);
@import url(../blocks/donation/__wrapper/donation__wrapper.css);
@import url(../blocks/donation/__values/donation__values.css);
@import url(../blocks/button/_type/button_type_radio.css);
@import url(../blocks/button/_type/button_type_radio-dif.css);
@import url(../blocks/button/_type/button_type_donate.css);

@import url(../blocks/clients/clients.css);
@import url(../blocks/clients/__wrapper/clients__wrapper.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__icon/cards__icon.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__text/cards__text.css);
@import url(../blocks/cards/_one-column/cards_one-column.css);
@import url(../blocks/cards/__button/cards__button.css);

@import url(../blocks/areas-of-work/areas-of-work.css);
@import url(../blocks/cards/__item/_type/cards__item_type_no-icon.css);
@import url(../blocks/cards/__item/_color/cards__item_color_orange.css);
@import url(../blocks/cards/__item/_color/cards__item_color_blue.css);
@import url(../blocks/cards/__item/_color/cards__item_color_green.css);
@import url(../blocks/cards/__item/_on-the-right/cards__item_on-the-right.css);

@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__accordion/advantages__accordion.css);
@import url(../blocks/advantages/__accordion/_opened/advantages__accordion_opened.css);
@import url(../blocks/advantages/__content/advantages__content.css);
@import url(../blocks/advantages/__header/advantages__header.css);
@import url(../blocks/advantages/__item/advantages__item.css);
@import url(../blocks/advantages/__title/advantages__title.css);

@import url(../blocks/digits/digits.css);
@import url(../blocks/digits/__content/digits__content.css);
@import url(../blocks/digits/__grid/digits__grid.css);
@import url(../blocks/digits/__image/digits__image.css);
@import url(../blocks/digits/__item/digits__item.css);
@import url(../blocks/digits/__paragraph/digits__paragraph.css);
@import url(../blocks/digits/__title-accent/digits__title-accent.css);
@import url(../blocks/digits/__title/digits__title.css);

@import url(../blocks/specprojects/specprojects.css);
@import url(../blocks/specprojects/__box/specprojects__box.css);
@import url(../blocks/specprojects/__buttons-box/specprojects__buttons-box.css);
@import url(../blocks/specprojects/__column/specprojects__column.css);
@import url(../blocks/specprojects/__description/specprojects__description.css);
@import url(../blocks/specprojects/__header/specprojects__header.css);
@import url(../blocks/specprojects/__image/specprojects__image.css);
@import url(../blocks/specprojects/__item/specprojects__item.css);
@import url(../blocks/specprojects/__photo-mobile/specprojects__photo-mobile.css);
@import url(../blocks/specprojects/__photo/specprojects__photo.css);
@import url(../blocks/specprojects/__title/specprojects__title.css);
@import url(../blocks/specprojects/__track/specprojects__track.css);

@import url(../blocks/histories/histories.css);
@import url(../blocks/histories/__container/histories__container.css);
@import url(../blocks/histories/__title-container/histories__title-container.css);
@import url(../blocks/histories/__hero-story/histories__hero-story.css);
@import url(../blocks/histories/__hero-story-item/histories__item.css);
@import url(../blocks/histories/__hero-story-item/_reverse/histories__hero-story-item_reverse.css);
@import url(../blocks/histories/__hero-cards/histories__hero-cards.css);
@import url(../blocks/histories/__hero-cards-item/histories__hero-cards-item.css);
@import url(../blocks/histories/__hero-cards-description/histories__hero-cards-description.css);
@import url(../blocks/histories/__hero-cards-textarea/histories__hero-cards-textarea.css);
@import url(../blocks/histories/__button/histories__button.css);
@import url(../blocks/histories/__hero-cards-buttonarea/histories__hero-cards-buttonarea.css);
@import url(../blocks/histories/__hero-story-content/histories__hero-story-content.css);
@import url(../blocks/histories/__hero-story-description/histories__hero-story-description.css);
@import url(../blocks/histories/__quote-icon/histories__quote-icon.css);
@import url(../blocks/histories/__hero-img/histories__hero-img.css);
@import url(../blocks/histories/__hero-img/_card/histories__hero-img_card.css);
@import url(../blocks/histories/__text-title/histories__text-title.css);
@import url(../blocks/histories/__text-main/histories__text-main.css);
@import url(../blocks/histories/__text-name/histories__text-name.css);
@import url(../blocks/histories/__text-button/histories__text-button.css);

@import url(../blocks/agency/agency.css);
@import url(../blocks/agency/__wrapper/agency__wrapper.css);
@import url(../blocks/cards/_agency/cards_agency.css);
@import url(../blocks/cards/__item/_type/cards__item_type_agency.css);
@import url(../blocks/cards/__item/_type/cards__item_type_hidden.css);
@import url(../blocks/page/__link/page__link.css);
@import url(../blocks/cards/__subtitle/cards__subtitle.css);
@import url(../blocks/section-subtitle/_type/section-subtitle_type_agency.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/button/_place/button_place_agency-down.css);

@import url(../blocks/news/news.css);
@import url(../blocks/news/__container/news__container.css);
@import url(../blocks/news/__title-container/news__title-container.css);
@import url(../blocks/news/__cards/news__cards.css);
@import url(../blocks/news/__card-item/news__card-item.css);
@import url(../blocks/news/__card-item-content/news__card-item-content.css);
@import url(../blocks/news/__card-item/_border/news__card-item_border.css);
@import url(../blocks/news/__card-item/_color/news__card-item_color_green.css);
@import url(../blocks/news/__card-text-content/news__card-text-content.css);
@import url(../blocks/news/__card-text/news__card-text.css);
@import url(../blocks/news/__card-title/news__card-title.css);
@import url(../blocks/news/__card-date-text/news__card-date-text.css);
@import url(../blocks/news/__card-theme-text/news__card-theme-text.css);
@import url(../blocks/news/__card-image/news__card-image.css);

@import url(../blocks/support/support.css);
@import url(../blocks/support/__wrapper/support__wrapper.css);
@import url(../blocks/support-subtitle/support-subtitle.css);
@import url(../blocks/support/__supports-container/support__supports-container.css);
@import url(../blocks/support/__donation-container/support__donation-container.css);

@import url(../blocks/support-form/support-form.css);
@import url(../blocks/support-form/__section-text/support-form__section-text.css);
@import url(../blocks/support-form/__amount-container/support-form__amount-container.css);
@import url(../blocks/support-form/__payment-period-container/support-form__payment-period-container.css);
@import url(../blocks/support-form/__payment-amount-container/support-form__payment-amount-container.css);
@import url(../blocks/support-form/__payment-method/support-form__payment-method.css);
@import url(../blocks/support-form/__payment-data/support-form__payment-data.css);
@import url(../blocks/support-form/__input/support-form__input.css);
@import url(../blocks/support-form/__agreements/support-form__agreements.css);
@import url(../blocks/support-form/__checkbox-container/support-form__checkbox-container.css);
@import url(../blocks/support-form/__payment-button/support-form__payment-button.css);
@import url(../blocks/support-form/__payment-container/support-form__payment-container.css);
@import url(../blocks/support-form/__shevron/support-form__shevron.css);
@import url(../blocks/support-form/_radio-button/_visible/support-form_radio-button_visible.css);
@import url(../blocks/support-form/_radio-button/_invisible/support-form_radio-button_invisible.css);
@import url(../blocks/support-form/_checkbox/_visible/support-form__checkbox_visible.css);
@import url(../blocks/support-form/_checkbox/_invisible/support-form__checkbox_invisible.css);
@import url(../blocks/support-form/__link/support-form__link.css);
@import url(../blocks/support-form/__icon-question/support-form__icon-question.css);
@import url(../blocks/support-form/__another-sum-button/support-form__another-sum-button.css);

@import url(../blocks/support-button/support-button.css);

@import url(../blocks/donators-list/donators-list.css);
@import url(../blocks/donator/donator.css);
@import url(../blocks/donator/__name-container/donator__name-container.css);
@import url(../blocks/donator/__sum-container/donator__sum-container.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__item-content/footer__item-content.css);
@import url(../blocks/footer/__item-logo/footer__item-logo.css);
@import url(../blocks/footer/__item-title/footer__item-title.css);
@import url(../blocks/footer/__item-text/footer__item-text.css);
@import url(../blocks/footer/__item-text/_width-320/footer__item-text_width-320.css);
@import url(../blocks/footer/__item-text/_align-self/footer__item-text_align-self.css);
@import url(../blocks/footer/__item-support-list/footer__item-support-list.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-links/footer__menu-links.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__icon-container/footer__icon-container.css);
@import url(../blocks/footer/__icon-support-container/footer__icon-support-container.css);
@import url(../blocks/footer/__icon-support/footer__icon-support.css);
@import url(../blocks/footer/__icon-social-media/footer__icon-social-media.css);
@import url(../blocks/footer/__icon-copyright/footer__icon-copyright.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__sub-container/footer__sub-container.css);

@import url(../blocks/popup-menu/popup-menu.css);
@import url(../blocks/popup-menu/_opened/popup-menu_opened.css);
@import url(../blocks/popup-menu/__wrapper/popup-menu__wrapper.css);
@import url(../blocks/popup-menu/__header/popup-menu__header.css);
@import url(../blocks/popup-menu/__group/popup-menu__group.css);
@import url(../blocks/popup-menu/__main/popup-menu__main.css);
@import url(../blocks/popup-menu/__tablet/popup-menu__tablet.css);
@import url(../blocks/popup-menu/__list/popup-menu__list.css);
@import url(../blocks/popup-menu/__list/_activ/popup-menu__list_activ.css);
@import url(../blocks/popup-menu/__item/popup-menu__item.css);
@import url(../blocks/popup-menu/__link/popup-menu__link.css);
@import url(../blocks/popup-menu/__close/popup-menu__close.css);
@import url(../blocks/popup-menu/__close-icon/popup-menu__close-icon.css);
@import url(../blocks/popup-menu/__arrow/popup-menu__arrow.css);
@import url(../blocks/popup-menu/__arrow/_rotate/popup-menu__arrow_rotate.css);
