@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(..//blocks/content/content.css);

@import url(../blocks/icon-menu/icon-menu.css);


@import url(../blocks/button/button.css);
@import url(../blocks/button/__wrapper/button__wrapper.css);
@import url(../blocks/button/__text/button__text.css);
@import url(../blocks/button/__link/button__link.css);
@import url(../blocks/button/__arrow/button__arrow.css);
@import url(../blocks/button/__arrow/_rotate/button__arrow_rotate.css);
@import url(../blocks/button/__color/_blue/button__color_blue.css);
@import url(../blocks/button/__color/_white/button__color_white.css);
@import url(../blocks/button/__color/_light-orange/button__color_light-orange.css);
@import url(../blocks/button/__color/_light-green/button__color_light-green.css);
@import url(../blocks/button/__type/_primary/button__type_primary.css);
@import url(../blocks/button/__type/_fix-sum/button__type_fix-sum.css);
@import url(../blocks/button/__type/_rand-sum/button__type_rand-sum.css);
@import url(../blocks/button/__type/_slider/button__type_slider.css);
@import url(../blocks/button/__type/_link/button__type_link.css);
@import url(../blocks/button/__text-color/_white/button__text-color_white.css);
@import url(../blocks/button/__text-color/_blue/button__text-color_blue.css);
@import url(../blocks/button/__text-color/_black/button__text-color_black.css);
@import url(../blocks/button/__border/_blue/button__border_blue.css);
@import url(../blocks/button/__border/_black/button__color_black.css);
@import url(../blocks/button/__img/_arrow/button__img_arrow.css);
@import url(../blocks/button/__img/_arrow/_rotate/button__img_arrow_rotate.css);



@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__menu-icon/header__menu-icon.css);
@import url(../blocks/header/__menu-text/header__menu-text.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/header/__span/header__span.css);


@import url(../blocks/popup-menu/popup-menu.css);
@import url(../blocks/popup-menu/__container/popup-menu__container.css);
@import url(../blocks/popup-menu/__wrapper/popup-menu__wrapper.css);
@import url(../blocks/popup-menu/__group/popup-menu__group.css);
@import url(../blocks/popup-menu/__list/popup-menu__list.css);
@import url(../blocks/popup-menu/__item/popup-menu__item.css);
@import url(../blocks/popup-menu/__link/popup-menu__link.css);

@import url(../blocks/secondary-menu/secondary-menu.css);
@import url(../blocks/secondary-menu/__wrapper/secondary-menu__wrapper.css);
@import url(../blocks/secondary-menu/__list/secondary-menu__list.css);
@import url(../blocks/secondary-menu/__item/secondary-menu__item.css);
@import url(../blocks/secondary-menu/__link/secondary-menu__link.css);

@import url(../blocks/project/project.css);
@import url(../blocks/project/__wrapper/project__wrapper.css);
@import url(../blocks/project/__description/project__description.css);
@import url(../blocks/project/__title/project__title.css);
@import url(../blocks/project/__slider/project__slider.css);
@import url(../blocks/project/__text/project__text.css);
@import url(../blocks/project/__images/project__images.css);
@import url(../blocks/project/__image/project__image.css);
@import url(../blocks/project/__image/_first/project__image_first.css);
@import url(../blocks/project/__image/_second/project__image_second.css);
@import url(../blocks/project/__span/project__span.css);
@import url(../blocks/project/__switcher/project__switcher.css);
@import url(../blocks/project/__switcher-button/project__switcher-button.css);
@import url(../blocks/project/__arrow/project__arrow.css);
@import url(../blocks/project/__arrow/_rotate/project__arrow_rotate.css);
@import url(../blocks/project/__switcher-counter/project__switcher-counter.css);

@import url(../blocks/donation/donation.css);
@import url(../blocks/donation/__wrapper/donation__wrapper.css);
@import url(../blocks/donation/__summa/donation__summa.css);
@import url(../blocks/donation/__value/donation__value.css);



@import url(../blocks/content/content.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/big-text/big-text.css);
@import url(../blocks/title-text/title-text.css);
@import url(../blocks/subtitle-text-four/subtitle-text-four.css);
@import url(../blocks/main-text/main-text.css);


@import url(../blocks/footer/footer.css);
