@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/content/content.css);

@import url(../blocks/main-text/main-text.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/support-subtitle/support-subtitle.css);

@import url(../blocks/support/support.css);
@import url(../blocks/support-form/support-form.css);
@import url(../blocks/support-form/__section-text/support-form__section-text.css);
@import url(../blocks/support-form/__radio-button/support-form__radio-button.css);
@import url(../blocks/support-form/__amount-container/support-form__amount-container.css);
@import url(../blocks/support-form/__payment-period-container/support-form__payment-period-container.css);
@import url(../blocks/support-form/__payment-amount-container/support-form__payment-amount-container.css);
@import url(../blocks/support-form/__payment-method/support-form__payment-method.css);
@import url(../blocks/support-form/__payment-data/support-form__payment-data.css);

@import url(../blocks/support/support.css);
@import url(../blocks/support/__supports-container/support__supports-container.css);
@import url(../blocks/support/__donation-container/support__donation-container.css);

@import url(../blocks/donators-list/donators-list.css);

@import url(../blocks/donator/donator.css);
@import url(../blocks/donator/__name-container/donator__name-container.css);
@import url(../blocks/donator/__sum-container/donator__sum-container.css);

@import url(../blocks/footer/footer.css);
