@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/content/content.css);

@import url(../blocks/main-text/main-text.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/support-subtitle/support-subtitle.css);

@import url(../blocks/support/support.css);
@import url(../blocks/support-form/support-form.css);
@import url(../blocks/support/__supports-container/support__supports-container.css);
@import url(../blocks/support/__donation-container/support__donation-container.css);

@import url(../blocks/donators-list/donators-list.css);

@import url(../blocks/donator/donator.css);
@import url(../blocks/donator/__name-container/donator__name-container.css);
@import url(../blocks/donator/__sum-container/donator__sum-container.css);

@import url(../blocks/footer/footer.css);
