@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(..//blocks/content/content.css);

@import url(../blocks/icon-menu/icon-menu.css);


@import url(../blocks/button/button.css);
@import url(../blocks/button/__wrapper/button__wrapper.css);
@import url(../blocks/button/_text/button_text.css);
@import url(../blocks/button/_link/button_link.css);
@import url(../blocks/button/_arrow/button_arrow.css);
@import url(../blocks/button/_arrow/_rotate/button_arrow_rotate.css);
@import url(../blocks/button/_color/_blue/button_color_blue.css);
@import url(../blocks/button/_color/_white/button_color_white.css);
@import url(../blocks/button/_color/_orange/button_color_orange.css);
@import url(../blocks/button/_color/_green/button_color_green.css);
@import url(../blocks/button/_color/_purple/button_color_purple.css);
@import url(../blocks/button/_type/_primary/button_type_primary.css);
@import url(../blocks/button/_type/_fix-sum/button_type_fix-sum.css);
@import url(../blocks/button/_type/_rand-sum/button_type_rand-sum.css);
@import url(../blocks/button/_type/_slider/button_type_slider.css);
@import url(../blocks/button/_type/_link/button_type_link.css);
@import url(../blocks/button/_text-color/_white/button_text-color_white.css);
@import url(../blocks/button/_text-color/_blue/button_text-color_blue.css);
@import url(../blocks/button/_text-color/_black/button_text-color_black.css);
@import url(../blocks/button/_border-color/_blue/button_border-color_blue.css);
@import url(../blocks/button/_border-color/_black/button_border-color_black.css);
@import url(../blocks/button/__arrow/button__arrow.css);
@import url(../blocks/button/__arrow/_rotate/button__arrow_rotate.css);



@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__menu-icon/header__menu-icon.css);
@import url(../blocks/header/__menu-text/header__menu-text.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/header/__span/header__span.css);


@import url(../blocks/popup-menu/popup-menu.css);
@import url(../blocks/popup-menu/__wrapper/popup-menu__wrapper.css);
@import url(../blocks/popup-menu/__group/popup-menu__group.css);
@import url(../blocks/popup-menu/__list/popup-menu__list.css);
@import url(../blocks/popup-menu/__item/popup-menu__item.css);
@import url(../blocks/popup-menu/__link/popup-menu__link.css);
@import url(../blocks/popup-menu/__close/popup-menu__close.css);
@import url(../blocks/popup-menu/__close-icon/popup-menu__close-icon.css);

@import url(../blocks/secondary-menu/secondary-menu.css);
@import url(../blocks/secondary-menu/__wrapper/secondary-menu__wrapper.css);
@import url(../blocks/secondary-menu/__list/secondary-menu__list.css);
@import url(../blocks/secondary-menu/__item/secondary-menu__item.css);
@import url(../blocks/secondary-menu/__link/secondary-menu__link.css);

@import url(../blocks/project/project.css);
@import url(../blocks/project/__wrapper/project__wrapper.css);
@import url(../blocks/project/__description/project__description.css);
@import url(../blocks/project/__title/project__title.css);
@import url(../blocks/project/__slider/project__slider.css);
@import url(../blocks/project/__text/project__text.css);
@import url(../blocks/project/__images/project__images.css);
@import url(../blocks/project/__image/project__image.css);
@import url(../blocks/project/__image/_first/project__image_first.css);
@import url(../blocks/project/__image/_second/project__image_second.css);
@import url(../blocks/project/__span/project__span.css);
@import url(../blocks/project/__switcher/project__switcher.css);
@import url(../blocks/project/__switcher-button/project__switcher-button.css);
@import url(../blocks/project/__arrow/project__arrow.css);
@import url(../blocks/project/__arrow/_rotate/project__arrow_rotate.css);
@import url(../blocks/project/__switcher-counter/project__switcher-counter.css);

@import url(../blocks/donation/donation.css);
@import url(../blocks/donation/__wrapper/donation__wrapper.css);
@import url(../blocks/donation/__summa/donation__summa.css);
@import url(../blocks/donation/__value/donation__value.css);



@import url(../blocks/content/content.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);

@import url(../blocks/clients/clients.css);
@import url(../blocks/clients/__wrapper/clients__wrapper.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__icon/cards__icon.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__text/cards__text.css);
@import url(../blocks/cards/_one-column/cards_one-column.css);
@import url(../blocks/cards/__button/cards__button.css);

@import url(../blocks/areas-of-work/areas-of-work.css);
@import url(../blocks/cards/__item/_type/cards__item_type_no-icon.css);
@import url(../blocks/cards/__item/_color/cards__item_color_orange.css);
@import url(../blocks/cards/__item/_color/cards__item_color_blue.css);
@import url(../blocks/cards/__item/_color/cards__item_color_green.css);
@import url(../blocks/cards/__item/_on-the-right/cards__item_on-the-right.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/big-text/big-text.css);
@import url(../blocks/title-text/title-text.css);
@import url(../blocks/subtitle-text-four/subtitle-text-four.css);
@import url(../blocks/main-text/main-text.css);

@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__box/advantages__box.css);
@import url(../blocks/advantages/__accordion/advantages__accordion.css);
@import url(../blocks/advantages/__accordion/_opened/advantages__accordion_opened.css);
@import url(../blocks/advantages/__button/advantages__button.css);
@import url(../blocks/advantages/__button/_pressed/advantages__button_pressed.css);
@import url(../blocks/advantages/__column/advantages__column.css);
@import url(../blocks/advantages/__content/advantages__content.css);
@import url(../blocks/advantages/__header/advantages__header.css);
@import url(../blocks/advantages/__item/advantages__item.css);
@import url(../blocks/advantages/__title/advantages__title.css);

@import url(../blocks/digits/digits.css);
@import url(../blocks/digits/__box/digits__box.css);
@import url(../blocks/digits/__content/digits__content.css);
@import url(../blocks/digits/__grid/digits__grid.css);
@import url(../blocks/digits/__image/digits__image.css);
@import url(../blocks/digits/__item/digits__item.css);
@import url(../blocks/digits/__paragraph/digits__paragraph.css);
@import url(../blocks/digits/__title-accent/digits__title-accent.css);
@import url(../blocks/digits/__title/digits__title.css);

@import url(../blocks/specprojects/specprojects.css);
@import url(../blocks/specprojects/__box/specprojects__box.css);
@import url(../blocks/specprojects/__button/specprojects__button.css);
@import url(../blocks/specprojects/__buttons-sld/specprojects__buttons-sld.css);
@import url(../blocks/specprojects/__column/specprojects__column.css);
@import url(../blocks/specprojects/__description/specprojects__description.css);
@import url(../blocks/specprojects/__header/specprojects__header.css);
@import url(../blocks/specprojects/__image/specprojects__image.css);
@import url(../blocks/specprojects/__item/specprojects__item.css);
@import url(../blocks/specprojects/__photo-mobile/specprojects__photo-mobile.css);
@import url(../blocks/specprojects/__photo/specprojects__photo.css);
@import url(../blocks/specprojects/__title/specprojects__title.css);
@import url(../blocks/specprojects/__track/specprojects__track.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__item/_height/footer__item_height.css);
@import url(../blocks/footer/__item-content/footer__item-content.css);
@import url(../blocks/footer/__item-logo/footer__item-logo.css);
@import url(../blocks/footer/__item-title/footer__item-title.css);
@import url(../blocks/footer/__item-text/footer__item-text.css);
@import url(../blocks/footer/__item-text/_width-320/footer__item-text_width-320.css);
@import url(../blocks/footer/__item-support-list/footer__item-support-list.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-links/footer__menu-links.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__icon-container/footer__icon-container.css);
@import url(../blocks/footer/__icon-support-container/footer__icon-support-container.css);
@import url(../blocks/footer/__icon-support/footer__icon-support.css);
@import url(../blocks/footer/__icon-social-media/footer__icon-social-media.css);
@import url(../blocks/footer/__icon-copyright/footer__icon-copyright.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__sub-container/footer__sub-container.css);
