.specprojects__button {
  width: 200px;
  height: 48px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  background-color: #E7F0FF;
  border-radius: 10px;
  border: 1px solid black;
  
}

@media screen and (max-width: 715px) {
  .specprojects__button {
    max-width: 440px;
    width: 100%;
  }
}