.specprojects__item {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  max-width: 1300px;
  column-gap: 140px;

}


@media screen and (max-width: 1279px) {
  .specprojects__item {
    column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .specprojects__item {
    margin: 25px;
    column-gap: 0;
  }
}

