.specprojects__item {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  max-width: 1360px;

}

@media screen and (max-width: 715px) {
  .specprojects__item {
    margin: 25px;

  }
}

