.header__content {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  width: 780px;
}

@media screen and (max-width: 1200px) {
  .header__content {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1439px) {
  .header__content {
    width: calc(384px + 396*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 1200px) {
  .header__content {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    width: 100%
  }
}

