.button_type_slider {
  background-image: url('../../../../images/Icon_arrow-forward.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
}


@media screen and (max-width: 768px) {
  .button_type_slider {
    width: 24px;
    height: 24px;
  }
}