.donation__values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  max-width: 1007px;
}

@media screen and (max-width: 1300px) {
  .donation__values {
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .donation__values {
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .donation__values {
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
