.button_type_fix-sum {
  width: 159px;
}

@media screen and (max-width: 1439px) {
  .button_type_fix-sum {
    width: calc(75px + 84*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .button_type_fix-sum {
    width: calc(122px - 47*(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .button_type_fix-sum {
    width: 122px;
  }
}