.button_type_primary {
  width: 180px;
}


@media screen and (max-width: 1439px) {
  .button_type_primary {
    width: calc(134px + 46*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .button_type_primary {
    width: calc(260px - 126*(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .button_type_primary {
    width: 260px;
  }
}