.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 50px 0 100px 0;
  gap: 20px;
}
@media screen and (max-width: 1279px) {
  .news__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow-y: hidden;
    margin: 32px 0;
    row-gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .news__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    overflow-y: unset;
    gap: 16px;
    margin: 24px 0 32px 0;
  }
}
