.support__donation-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 40px;
  max-width: 488px;
}

@media (max-width: 768px){
  .support__donation-container {
    max-width: 349px;
    gap: 24px;
  }
}

@media (max-width: 320px){
  .support__donation-container {
    max-width: 300px;
    gap: 10px;
  }
}
