.button__accordion_pressed {
  background-color: #0C4BA0;
  background-image: url(../../../../images//Icon_plus_active.svg);

}

.button__accordion_pressed:hover {
  background-color: #0C4BA0;
  background-image: url(../../../../images//Icon_plus_active.svg);

}