.support-form__amount-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}


@media (max-width: 660px) {
    .support-form__amount-container {
      grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 400px) {
    .support-form__amount-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
