.button__accordion {
  padding: 0;
  margin: 0;
  width: 45px;
  height: 45px;
  background-image: url(../../../images/Icon_plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
  background-color: #E7F0FF;
  border-radius: 20px;
  border: none;
}

.button__accordion:hover {
  background-color: #0C4BA0;
  background-image: url(../../../images/Icon_plus_hover.svg);

}

.button__accordion:active {
  background-color: #0C4BA0;
  background-image: url(../../../images/Icon_plus_active.svg);

}

@media screen and (max-width: 820px) {
  .button__accordion {
    width: 32px;
    height: 32px;
    background-size: 12px 12px;
  }
}

@media screen and (max-width: 440px) {
  .button__accordion {
    background-size: 10px 10px;
  }
}