.support-form__input {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 10px;
  width: 66%;
  padding: 11px 0 11px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 1365px) {
  .support-form__input {
    font-size: 14px;
  }
}
