.support-form__radio-button_invisible {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.support-form__radio-button_invisible:checked + span {
  border: 1px solid #0C4BA0;
}

.support-form__radio-button_invisible:hover + span {
  border: 1px solid #0C4BA0;
}

.support-form__radio-button_invisible:disabled + span {
  background: #FFFFFF;
  border: 1px solid #DADADA;
}
