.project__wrapper {
  display: flex;
  position: relative;
  width: 1360px;
  margin: 50px auto 0;
  gap: 14px;
}


@media screen and (max-width: 1439px) {
  .project__wrapper {
    width: calc(688px + 672*(100vw - 768px)/(1440 - 768));
    margin: 56px auto 0;
    gap: 20px;
    height: 286px;
  }
}

@media screen and (max-width: 767px) {
  .project__wrapper {
    width: calc(300px + 388*(100vw - 320px)/(768 - 320));
    flex-direction: column;
    align-items: center;
    gap: 26px;
    min-height: 486px;
    margin: 50px auto 0;
  }
}

