.button_place_down {
  display: none;
}
@media screen and (max-width: 1279px) {
  .button_place_down {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .button_place_down {
    flex-direction: column;
    justify-content: unset;
  }
}
