.support-form_radio-button_invisible {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.support-form_radio-button_invisible:checked + .support-form_radio-button_visible {
  border: 1px solid #0C4BA0;
}

.support-form_radio-button_invisible:hover + .support-form_radio-button_visible {
  border: 1px solid #0C4BA0;
}

.support-form_radio-button_invisible:disabled + .support-form_radio-button_visible {
  background: #FFFFFF;
  border: 1px solid #DADADA;
}
