.title-text {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .title-text {
    font-size: calc(38px + 34*(100vw - 768px)/1440);
  }
}

@media screen and (max-width: 767px) {
  .title-text {
    font-size: calc(28px + 10*(100vw - 320px)/768);
  }
}

@media screen and (max-width: 320px) {
  .title-text {
    font-size: 28px;
  }
}