.donation__wrapper {
  display: flex;
  align-items: center;
  background-color: #E7F0FF;
  border-radius: 10px;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1276px;
  padding: 58px 54px 58px 30px;
  width: calc(100% - 84px);
}

/* @media screen and (max-width: 1279px) {
  .donation__wrapper {
    padding: 32px 24px 36px 24px;
    gap: 40px;
  }
} */

@media screen and (max-width: 1279px) {
  .donation__wrapper {
    padding: 32px 24px 36px 24px;
    gap: 22px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .donation__wrapper {
    flex-direction: column;
    padding: 32px 20px;
    width: calc(100% - 40px);
    gap: 32px;
  }
}
