.donation__wrapper {
  display: flex;
  margin: 90px auto 50px;
  width: 1360px;
  height: 164px;
  background: #e7f0ff;
  border-radius: 10px;
}



@media screen and (max-width: 1439px) {
  .donation__wrapper {
    width: calc(688px + 672*(100vw - 768px)/(1440 - 768));
    height: calc(112px + 52*(100vw - 768px)/(1440 - 768));;
    margin: 50px auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .donation__wrapper {
    width: calc(300px + 388*(100vw - 320px)/(768 - 320));
    height: calc(304px - 192*(100vw - 768px)/(1440 - 768));;
    margin: 40px auto 32px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .donation__wrapper {
    width: 300px;
    height: 304px;
  }
}
